# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Docker files
Dockerfile
docker-compose.*

# Ignore ZScaler Certificate / Required for Office setup
.ZScaler.crt
*.crt
*.cer
./example/*

# macOS files
.DS_Store

# IntelliJ files
.idea/
*.iml
